.contact-form{
    color: white;
}

/* text inputs */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form select,
.contact-form textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
    margin: 0.5em 0;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid transparent;
    border-radius: 4px;
    color: inherit;
    font-size: 1.25em;
}

@media screen and (max-width: 500px){
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form select,
    .contact-form textarea {
        font-size: 1em;
    }
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form select {
    height: 3.5em;
}

.contact-form textarea {
    padding: 0.75em 1em;
    resize: vertical;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form select:focus,
.contact-form textarea:focus {
    border-color: #0059b3;
    -webkit-box-shadow: 0px 0px 15px 0px #0059b3;
    -moz-box-shadow: 0px 0px 15px 0px #0059b3;
    -ms-box-shadow: 0px 0px 15px 0px #0059b3;
    box-shadow: 0px 0px 15px 0px #0059b3;
}

/* check and radio */
.contact-form input[type="checkbox"], /* this hides the default item */
.contact-form input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

.contact-form input[type="checkbox"] + label, /* this sets the text possitioning*/
.contact-form input[type="radio"] + label {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 400;
    padding-left: 2.85em;
    padding-right: 0.75em;
    position: relative;
    margin: 1em 0;
    color: #a5a9ad;
	line-height: 1.75em;
}

@media screen and (max-width: 500px){
    .contact-form input[type="checkbox"] + label,
    .contact-form input[type="radio"] + label {
        font-size: 1em;
    }
}

.contact-form input[type="checkbox"] + label:before, /* this is the square for the check box */
.contact-form input[type="radio"] + label:before {
	display: inline-block;
	height: 1.75em;
	width: 1.75em;
	top: 0;
	left: 0;
	line-height: 1.75em;
	position: absolute;
	text-align: center;
	content: '';
    font-size: 1em;
	text-transform: none !important;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid transparent;
}

.contact-form input[type="checkbox"]:not(:checked) + label:after, /* checked mark aspect changes */
.contact-form input[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    color: white;
    top: -0.1em;
    left: .2em;
    font-size: 2em;
    line-height: 0.75;
    transition: all .2s;
}

.contact-form input[type="checkbox"]:not(:checked) + label:after { /* checked mark aspect changes */
    opacity: 0;
    transform: scale(0);
}
.contact-form input[type="checkbox"]:checked + label:after { /* checked mark aspect changes */
    opacity: 1;
    transform: scale(1);
}

.contact-form input[type="checkbox"]:checked + label:before, /* this is the square for the check box */
.contact-form input[type="radio"]:checked + label:before,
.contact-form input[type="checkbox"]:focus + label:before,
.contact-form input[type="radio"]:focus + label:before {
    border-color: #0059b3;
    -webkit-box-shadow: 0px 0px 15px 0px #0059b3;
    -moz-box-shadow: 0px 0px 15px 0px #0059b3;
    -ms-box-shadow: 0px 0px 15px 0px #0059b3;
    box-shadow: 0px 0px 15px 0px #0059b3;
}

.contact-form input[type="checkbox"] + label:before { /* individual barder radius */
    border-radius: 4px;
}

.contact-form input[type="radio"] + label:before { /* individual barder radius */
    border-radius: 100%;
}

/* placeholders */
.contact-form ::-webkit-input-placeholder {
    color: #a5a9ad !important;
}

.contact-form :-moz-placeholder {
    color: #a5a9ad !important;
}

.contact-form ::-moz-placeholder {
    color: #a5a9ad !important;
}

.contact-form :-ms-input-placeholder {
    color: #a5a9ad !important;
}

.contact-form .error{ /* incase of user error */
    display: block;
    text-align: center;
}

.success{ /* when no error */
    display: block;
    text-align: center;
}

.buttons-box{
    margin: 1.5em 0;
}

.submit-box{
    text-align: right;
}

@media screen and (max-width: 768px){
    .buttons-box{
        text-align: center;

    }
    .submit-box,
    .reset-box{
        display: inline-block;
    }
}

.sending {
    margin: 5em 0;
    width: 100%;
    display: block;
    text-align: center;
}
