html, body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body
{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Header */

#header{
    position: absolute;
    width: 95%;
    height: 35px;
    background-color: #111;
    color: white;
    padding: 10px 2% 10px 3%;
    line-height: 35px;
    z-index: 3;
}

#header h1 {
    font-size: 35px;
    margin: 0;
    padding: 0;
    border: 0;
}

#header a {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
    text-decoration: none;
}

#header .menu {
    position: absolute;
    top: 8px;
    right: 5%;
    font-size: 20px;
    cursor:pointer
}

/* Banner */

#banner {
    position: relative;
    width: auto;
    height: 95%;
    transition: margin-right .5s; /* for transition */
    background-color: #1E2832;
    color: #111;
    margin-top: 55px;
    padding: 50px 50px 50px 50px;
    text-align: center;
    background-attachment: fixed;
    background-image: url("../../images/photo-crane.jpe");
    background-size: cover;
}

.logo {
    margin: 15px;
    padding: 15px;
    border: 2px solid #111;
    border-radius: 5px;
}

/* Nav Menu */
#nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 5; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 55px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
#nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

#nav .links{
    margin-left: 20px;
    padding: 0;
}

