.progress {
  height: 3px;
  background-color: #000d1a;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.75);
}

.progress-bar {
  background: #004d99;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #003366, #004d99, #0059b3);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(right, #003366, #004d99, #0059b3);
  /* For Firefox 3.6 to 15 */
  background: -ms-linear-gradient(right, #003366, #004d99, #0059b3);
  /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient(right, #003366, #004d99, #0059b3);
  /* For Opera 11.1 to 12.0 */
  background: linear-gradient(to right, #003366, #004d99, #0059b3);
  /* Standard syntax (must be last) */
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.progress:hover {
  cursor: pointer;
}

.media-heading {
  margin: 0.5em 0;
}

.menu-controls {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -ms-transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  /* easeInOutQuart */
}

.menu-controls i {
  z-index: 8;
  cursor: pointer;
  display: inline-block;
  opacity: 0.4;
  color: white;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -ms-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
  margin: 0.5em;
}

.menu-controls i:hover {
  opacity: 1
}

.audio_box {
  padding: 25px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 768px) {
  .audio_box {
    margin: 10px 25px;
  }
}

/* INPUT RANGE FOR AUDIO LEVEL */

.range-slider {
  display: inline-block;
  vertical-align: text-bottom;
  width: 250px;
  margin: -10px 21px 0 21px;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
  outline: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  -webkit-transition: background .1s linear;
  -moz-transition: background .1s linear;
  -ms-transition: background .1s linear;
  -o-transition: background .1s linear;
  transition: background .1s linear;
}

input[type=range]:hover {
  background: white;
}

input[type=range]:active {
  background: white;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #001a33;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #0059b3;
}

input[type=range]:active::-webkit-slider-thumb {
  background: #0059b3;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #001a33;
  cursor: pointer;
  -moz-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

input[type=range]::-moz-range-thumb:hover {
  background: #0059b3;
}

input[type=range]:active::-moz-range-thumb {
  background: #0059b3;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.4);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.4);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
  -ms-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #001a33;
  cursor: pointer;
  /*box-shadow: 0 0 0 3px #282d32;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin-top: 2px;
    box-sizing: border-box;
    border: 0;*/
}

input[type=range]:focus::-ms-fill-lower {
  background: #2c3e50;
}

input[type=range]:focus::-ms-fill-upper {
  background: #2c3e50;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #001a33;
  padding: 5px 10px;
  margin-left: 8px;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #001a33;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}

/* SIZE ADJUST DUNNO IF NEEDED */

/*     @media (min-width: 600px)
{
        .range-slider {
          margin: 60px 0 0 0%;
        }

        .range-slider {
          width: 100%;
        }

        input[type=range] {
          -webkit-appearance: none;
          width: calc(100% - (73px));
          height: 10px;
          border-radius: 5px;
          background: #d7dcdf;
          outline: none;
          padding: 0;
          margin: 0;
        }

        input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
                  appearance: none;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #2c3e50;
          cursor: pointer;
          -webkit-transition: background .15s ease-in-out;
          transition: background .15s ease-in-out;
        }

        input[type=range]::-webkit-slider-thumb:hover {
          background: #1abc9c;
        }

        input[type=range]:active::-webkit-slider-thumb {
          background: #1abc9c;
        }

        input[type=range]::-moz-range-thumb {
          width: 20px;
          height: 20px;
          border: 0;
          border-radius: 50%;
          background: #2c3e50;
          cursor: pointer;
          -webkit-transition: background .15s ease-in-out;
          transition: background .15s ease-in-out;
        }
        input[type=range]::-moz-range-thumb:hover {
          background: #1abc9c;
        }
        input[type=range]:active::-moz-range-thumb {
          background: #1abc9c;
        }
        input[type=range]::-ms-track {
          width: 100%;
          height: 12.8px;
          cursor: pointer;
          animate: 0.2s;
          background: transparent;
          border-color: transparent;
          border-width: 39px 0;
          color: transparent;
        }
        input[type=range]::-ms-fill-lower {
          background: #ac51b5;
          border: 0px solid #000101;
          border-radius: 50px;
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        }
        input[type=range]::-ms-fill-upper {
          background: #ac51b5;
          border: 0px solid #000101;
          border-radius: 50px;
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        }
        input[type=range]::-ms-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #2c3e50;
          cursor: pointer;
          -webkit-transition: background .15s ease-in-out;
          transition: background .15s ease-in-out;
        }
        input[type=range]:focus::-ms-fill-lower {
          background: #2c3e50;
        }
        input[type=range]:focus::-ms-fill-upper {
          background: #2c3e50;
        }

        .range-slider__value {
          display: inline-block;
          position: relative;
          width: 60px;
          color: #fff;
          line-height: 20px;
          text-align: center;
          border-radius: 3px;
          background: #2c3e50;
          padding: 5px 10px;
          margin-left: 8px;
        }
        .range-slider__value:after {
          position: absolute;
          top: 8px;
          left: -7px;
          width: 0;
          height: 0;
          border-top: 7px solid transparent;
          border-right: 7px solid #2c3e50;
          border-bottom: 7px solid transparent;
          content: '';
        }
        input[type=range]::-moz-range-track {
          background: #d7dcdf;
          border: 0;
        }
        input[type=range]::-moz-focus-inner,
        input[type=range]::-moz-focus-outer {
          border: 0;
        }
} */